* {
	margin: 0;
	padding: 0;	
	
	
}
h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2rem;
}
a {
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
	color: inherit;
	border-bottom: 2.5px solid #DB7093;
	
	&:hover {
		color: pink;
		border-bottom: none;
		text-decoration: none;
	}
}

header {
	display: flex;
	height: 100vh;
	background: url("/img/coverphoto.jpg") no-repeat center center;
	background-size: cover;
	margin-bottom: 40px;
}

nav {
	position: fixed;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	background: rgba(255,255,255,0.0);
	z-index: 10;
	
	ul {
		display: flex;
		list-style: none;
		align-self: baseline;
		margin-right: 30px;
	}
	
	li {
		font-size: 2rem;
		margin-left: 5px;
		padding-right: 10px;

	}
}
.logo {
	margin-left: 30px;
	font-size: 2em;
	align-self: baseline;
}

.chevron {
	align-self: flex-end;

	height: 30px;
	width: 30px;
	margin: 20px auto;
	top: 0px;
	transition: all 0.4s ease; 
	
	&:hover {
		position: relative;
		top: 5px;
	}
}
.about {
	display: flex;
	max-width: 500px;
	margin: auto;
	padding: 10px;
	flex-flow: column;
	align-items: center;
	text-align: justify;
	margin-bottom: 40px;
	
	h2 {
		margin-bottom: 40px;
	}
}
.video {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: rgb(22, 144, 152);
	padding-bottom: 60px;
}
.video h2 {
	margin: 40px;

}
video {
	margin-bottom: 40px;
}

.pictures {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-flow: column;
	background-color: rgb(248,248,248);
	padding: 10px;
	width: 100vw;
	padding-bottom: 60px
}
.pictures h2 {
	margin: 40px;
}
.image-holder {
	width: 100vw;
	height: auto;
	margin: 10px;
	background-color:pink;
}
.full-image {
	width: 100vw;
	height: auto;
}

.profiles {
	display: flex;
	align-items: center;
	flex-flow: column;
	flex-wrap: wrap;

}
.profiles h3 {
	margin: 60px auto;
}
.profile-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.profile {
	display: flex;
	flex-flow: column;	
	align-items: center;
	padding: 5px;
	margin-bottom: 30px;
}
.profile-img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-bottom: 20px;
	transform: scale(1);
	z-index: 1;
	transition: all 0.2s cubic-bezier(.68,-0.55,.27,1.55);
	
	&:hover {
		transform: scale(1.05);
		box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.7);
		z-index: 10;
	}
}

footer {
	height: 100px;
	display: flex;
	margin: auto;
	background-color: rgb(251,220,88);
	align-items: center;
}

