* {
  margin: 0;
  padding: 0;
  font-family: rubik, sans-serif; }

h1, h2 {
  font-weight: 700; }

p {
  font-size: 1.5rem; }

header {
  height: 100vh;
  background: url("/img/coverphoto.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 40px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin-right: 30px; }
  nav li {
    font-size: 2rem;
    padding-right: 10px; }

.logo {
  margin-left: 30px;
  font-size: 2em;
  -ms-flex-item-align: baseline;
      align-self: baseline; }

.chevron {
  height: 30px;
  width: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px;
  top: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.chevron:hover {
  position: relative;
  top: 5px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin-bottom: 40px; }
  .about h2 {
    margin-bottom: 40px; }

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #169098;
  padding-bottom: 60px; }

.video h2 {
  margin: 40px; }

video {
  margin-bottom: 40px; }

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #f8f8f8;
  padding: 10px;
  width: 100vw;
  padding-bottom: 60px; }

.pictures h2 {
  margin: 40px; }

.image-holder {
  width: 100vw;
  height: auto;
  margin: 10px;
  background-color: pink; }

.full-image {
  width: 100vw;
  height: auto; }

.profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.profiles h3 {
  margin: 60px auto; }

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin-bottom: 30px; }

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.profile-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.7);
  z-index: 10; }

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: #fbdc58;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
