* {
  margin: 0;
  padding: 0;
  font-family: rubik, sans-serif; }

h1, h2 {
  font-weight: 700; }

p {
  font-size: 1.5rem; }

header {
  height: 100vh;
  background: url("/img/coverphoto.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  margin-bottom: 40px; }

nav {
  display: flex;
  flex-flow: row;
  flex-grow: 2;
  justify-content: space-between; }
  nav ul {
    display: flex;
    list-style: none;
    align-self: baseline;
    margin-right: 30px; }
  nav li {
    font-size: 2rem;
    padding-right: 10px; }

.logo {
  margin-left: 30px;
  font-size: 2em;
  align-self: baseline; }

.burger {
  height: 50px;
  width: 50px;
  margin: 20px; }

.chevron {
  height: 30px;
  width: 30px;
  align-self: flex-end;
  align-self: center;
  margin: 20px;
  top: 0px;
  transition: all 0.4s ease; }

.chevron:hover {
  position: relative;
  top: 5px; }

.about {
  display: flex;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  flex-flow: column;
  align-items: center;
  text-align: justify;
  margin-bottom: 40px; }
  .about h2 {
    margin-bottom: 40px; }

.video {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #169098;
  padding-bottom: 60px; }

.video h2 {
  margin: 40px; }

.video-holder {
  background-color: pink;
  width: 60%;
  height: 25%; }

.pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
  background-color: #f8f8f8;
  padding: 10px;
  width: 100vw;
  padding-bottom: 60px; }

.pictures h2 {
  margin: 40px; }

.image-holder {
  width: 100vw;
  height: auto;
  margin: 10px;
  background-color: pink; }

.full-image {
  width: 100vw;
  height: auto; }

.profiles {
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap; }

.profiles h3 {
  margin: 60px auto; }

.profile-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.profile {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px; }

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
  transform: scale(1);
  z-index: 1;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.profile-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.7);
  z-index: 10; }

footer {
  height: 100px;
  display: flex;
  margin: auto;
  background-color: #fbdc58;
  align-items: center; }
