/* Fonts */
$large-font: 'Raleway', sans-serif;
$p-font: 'Open Sans Condensed', sans-serif;

/* Colors */
$white: #F9F8F8;
$pink: #DB7093;
$yellow: #FFC627;
$green: #49C3B1;


* {
	margin: 0;
	padding: 0;	
}
body {
	font-size: 100%;
	background-color: $white;
}
h1 {
	font-family: $large-font;
	font-weight: 700;

}
h2 {
	font-family: $large-font;
	background-color: rgba($green, .2);
	padding: 5px;
	margin: 40px;
}
hr {
	margin: 0 auto;
	max-width: 300px;
	border: 0;
	height: 1px;
	background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
p {
	font-family: $p-font;
	font-size: 2rem;
}
a {
	font-family: $p-font;
	text-decoration: none;
	color: inherit;
	border-bottom: 2.5px solid $pink;
	
	&:hover {
		background-color: $pink;
		border-bottom: none;
		text-decoration: none;
	}
}

header {
	display: flex;
	height: 100vh;
	background: url("/img/coverphoto.jpg") no-repeat center center;
	background-size: cover;
	margin-bottom: 40px;
}

nav {
	position: fixed;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	z-index: 10;
	@media (max-width: 700px) {
		flex-flow: column;
		
	}
	
	.list-wrapper {
		display: flex;
		align-self: baseline;
		flex-wrap: wrap;
		@media (max-width: 700px) {
			flex-flow: column;
			width: 100%;
			justify-content: center;
			}
		}
	ul {
		display: flex;
		list-style: none;
		align-self: baseline;
		margin-right: 30px;
		@media (max-width: 700px) {
			display: flex;
			flex-flow: column;
			width: 100%;
			align-items: center;


		}
	}
	
	li {
		font-size: 2rem;
		padding: 0 10px;

	}
}
.burger {
	display: none;
	font-size: 1.75em;
	@media (max-width: 700px) {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
.logo {
	margin-left: 30px;
	font-size: 2em;
	align-self: baseline;
}

.chevron {
	display: flex;
	align-self: flex-end;
	border: 1px solid #000;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin: 20px auto;
	justify-content: center;
	
	top: 0px;
	transition: all 0.4s ease; 
	.chevholder {
		display:flex;
		align-items: center;

	}
	&:hover {
		position: relative;
		top: 5px;
	}
}
.about {
	display: flex;
	max-width: 500px;
	margin: auto;
	padding: 10px;
	flex-flow: column;
	align-items: center;
	text-align: justify;
	margin-bottom: 40px;
	
}
.videos {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-bottom: 60px;
	
}
.vid-container {
	padding: 20px;
	iframe {
		@media (max-width: 700px) {
			width: 320px;
			height: 180px;

		}
	}
}

.pictures {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-flow: column;
	background-color: $white;
	padding: 10px;
	width: 100vw;
	padding-bottom: 60px;

}
.image-holder {
	width: 100vw;
	height: auto;
	margin: 10px;
}
.full-image {
	width: 100vw;
	height: auto;
}

.profiles {
	display: flex;
	align-items: center;
	flex-flow: column;
	flex-wrap: wrap;

}
.profiles h3 {
	margin: 60px auto;
}
.profile-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.profile {
	display: flex;
	flex-flow: column;	
	align-items: center;
	padding: 5px;
	margin-bottom: 30px;
}
.profile-img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-bottom: 20px;
	transform: scale(1);
	z-index: 1;
	transition: all 0.2s cubic-bezier(.68,-0.55,.27,1.55);
	
	&:hover {
		transform: scale(1.05);
		box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.7);
		z-index: 10;
	}
}

footer {
	height: 100px;
	display: flex;
	margin: auto;
	background-color: $yellow;
	align-items: center;
	justify-content: center;
}

