* {
	margin: 0;
	padding: 0;
}
p {
	font-size: 1.5rem;
}

header {
	height: 100vh;
	background: url("/img/coverphoto.jpg") no-repeat center center;
	background-size: cover;
	display: flex;
	flex-flow: column;
	margin-bottom: 40px;
}
nav {
	display: flex;
	flex-flow: row;
	flex-grow: 2;
	justify-content: space-between;
}
.logo {
	padding-left: 20px;
	font-size: 2em;
}
.burger {
	height: 50px;
	width: 50px;
	margin: 20px;
}
.chevron {
	height: 30px;
	width: 30px;
	align-self: flex-end;
	align-self: center;
	margin: 20px;
	top: 0px;
	transition: all 0.4s ease;
}
.chevron:hover {
	position: relative;
	top: 5px;
}
.about {
	display: flex;
	max-width: 500px;
	margin: auto;
	padding: 10px;
	flex-flow: column;
	align-items: center;
	text-align: justify;
	margin-bottom: 40px;
}
.about h2 {
	margin-bottom: 40px;
}
.video {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: rgb(22, 144, 152);
	padding-bottom: 60px;
}
.video h2 {
	margin: 40px;
}
.video-holder {
	background-color: pink;
	width: 600px;
	height: 300px;
}
.pictures{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-flow: column;
	background-color: rgb(248,248,248);
	padding: 10px;
	width: 100vw;
	padding-bottom: 60px
}
.pictures h2 {
	margin: 40px;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image-holder {
	width: 100vw;
	height: 800px;
	margin: 10px;
	background-color:pink;
}
footer {
	height: 100px;
	display: flex;
	margin: auto;
	background-color: rgb(251,220,88);
	align-items: center;
}

.hyperlink {
	text-decoration: none;
	

}
